{% extends 'worker/worker_homepage1.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <form id="form1" name="form1" method="post" action="">
    <table width="1100" border="1" style="border-collapse: collapse; margin: 20px; background-color: white; color: black;">
      <tr>
        <th scope="col" style="font-size: 20px; padding: 10px;">#</th>
        <th scope="col" style="font-size: 20px; padding: 10px;">Own Service</th>
        <th scope="col" style="font-size: 20px; padding: 10px;">&nbsp;</th>
      </tr>

      {% for i in data %}
      <tr>
        <td rowspan="2" style="font-size: 20px; padding: 10px;">{{ forloop.counter }}</td>
        <td rowspan="2" style="font-size: 20px; padding: 10px;">{{ i.SERVICE.service_name }}</td>
      </tr>
      <tr>
        <td style="font-size: 20px; padding: 10px;"><a href="/delete_ownsevice/{{ i.id }}" style="text-decoration: none; color: black;">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
    <h3>&nbsp;</h3>
  </form>
</body>
</html>
{% endblock %}