<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Worker registration</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="/static/reg_worker_temp/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="/static/reg_worker_temp/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/static/reg_worker_temp/css/style.css"/>
</head>
<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <h2>DEAR WORKER</h2>
                <p class="text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.</p>
                <p class="text-2"><span>Eu ultrices:</span> Vitae auctor eu augue ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.</p>
                <div class="form-left-last">
                    <input type="submit" href="/loginn" name="account" class="account" value="Have An Account">
                </div>
            </div>
            <form action="/register_worker_post" method="post" class="form-detail" id="myform">
{#                {% csrf_token %}#}
                <h2>REGISTER FORM</h2>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="last_name">Worker Name:</label>
                        <input type="text" name="textfield" id="last_name" class="input-text" required>
                    </div>
                </div>
                <div class="form-row">
                    <label for="textfield2">Availability:</label>
                    <input type="text" name="textfield2" id="your_email" class="input-text" required>
                </div>
                <div class="form-row">
                    <label for="textfield3">Longitude:</label>
                    <input type="text" name="textfield3" id="textfield3" class="input-text" required readonly>
                </div>
                <div class="form-row ">
                    <label for="textfield4">Latitude: </label>
                    <input type="text" name="textfield4" id="textfield4" class="input-text" required readonly>
                </div>
                <div id="gmap" style="width: 100%; height: 500px; border: double;"></div>
                <div class="form-row ">
                    <label for="textfield5">Contact no:</label>
                    <input type="text" name="textfield5" id="textfield5" class="input-text" required pattern="^[6789]\d{9}$">
                </div>
                <div class="form-row ">
                    <label for="textfield6">Mail id:</label>
                    <input type="email" name="textfield6" id="textfield6" class="input-text" required pattern = "^[a-zA-Z0-9._%+-]+@gmail\.com$">
                </div>
                <div class="form-row ">
                    <label for="textfield7">Password:</label>
                    <input type="password" name="textfield7" id="textfield7" class="input-text" required pattern = "^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$">
                </div>

                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Register">
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script type="text/javascript" async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&callback=GetMylocation">
</script>
<script type="text/javascript">

    var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng(11.618061975930,75.36565089010);
            var myOptions = {
                zoom:7,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("textfield3").value = clickLat.toFixed(5);
                document.getElementById("textfield4").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });
    }

    window.onload = function () { GetMylocation() };


</script>
     <style>
 div#gmap {

        width: 500%;
        height: 500px;
        border:double;
 }
    </style>

{#    <form id="form1" runat="server">#}
<center>
<!-- MAP HOLDER -->

<!-- REFERENCES -->
{#Lat: <input type="text" id='lat'>#}
{#Lon: <input type="text" id='lon'>#}

</center>




<script>

function GetMylocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    //x.innerHTML = "Geolocation is not supported by this browser.";
      alert("Geolocation is not supported by this browser.")
  }
}
var x1 = document.getElementById("textfield3");
var x2 = document.getElementById("textfield4");
var map;
function showPosition(position) {
  x1.value=position.coords.latitude;
  x2.value=position.coords.longitude;

  var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var myOptions = {
                zoom:14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("textfield3").value = clickLat.toFixed(5);
                document.getElementById("textfield4").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });


}
</script>