{% extends 'user/user_home1.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
 <form id="form1" name="form1" method="post" action="" style="margin: 20px;">

    <table style="width: 400%; border-collapse: collapse; margin-top: 20px; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 12px; background-color: #f2f2f2;">#</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 12px; font-size: 20px">Service</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">Worker</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">Date</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">Rate & Review</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">Status</th>
      </tr>
      {% for i in data %}
      <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">{{ forloop.counter }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">{{ i.OWN_SERVICE.SERVICE.service_name }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">{{ i.OWN_SERVICE.WORKER.worker_name }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">{{ i.Date }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px"><a href="/rate_review/{{ i.id }}" style="text-decoration: none; color: #0066cc; font-weight: bold;">Click</a></td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 12px;font-size: 20px">{{ i.status }}</td>
      </tr>
      {% endfor %}
    </table>

  </form>
</body>
</html>
{% endblock %}