<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/registration_user_post" method="post"><table width="200" border="1">
    {% csrf_token %}
  <tr>
    <th scope="row">User name:</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required  pattern = "^[a-zA-Z0-9_]{3,16}$"/ ></td>
  </tr>
  <tr>
    <th scope="row">Email:</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required pattern = "^[a-zA-Z0-9._%+-]+@gmail\.com$"/></td>
  </tr>
  <tr>
    <th scope="row">Contact no:</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" pattern = "^[789]\d{9}$"/></td>
  </tr>
  <tr>
    <th scope="row">Password:</th>
    <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required pattern = "^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"></td>
  </tr>
  <tr>
    <th scope="row">Confirm Password:</th>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" required/></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Register" /></th>
    </tr>
</table>
</form>
</body>
</html>

